<div class="container mt-5">
    <h2>List Items</h2>

    <div>
        @if ($loading()) {
            <div class="position-absolute top-50 start-50 translate-middle">
                <mat-spinner></mat-spinner>
            </div>
        } @else {
            <div class="row">
                @for (book of booksList; track $index) {
                    <div class="col-md-4 col-12 mb-3">
                        <app-book-details [book]="book" [showRemoveFromWishlist]="true" (bookRemoved)="bookRemoved($event)"></app-book-details>
                    </div>
                }
            </div>
        }
    </div>
</div>