
<div class="container mt-5">

    @if (model.$loading()) {
        <div class="position-absolute top-50 start-50 translate-middle">
            <mat-spinner></mat-spinner>
        </div>
    } @else {
        <div class="row">
            @for (book of model.books; track $index) {
                <div class="col-md-4 col-12 mb-3">
                    <app-book-details [book]="book"></app-book-details>
                </div>
            }
        </div>
    }
</div>

<!-- <mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title> Australian Shepherd</mat-card-title>
        <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <a mat-button>Learn More</a>
    </mat-card-actions>
</mat-card>
<br> -->
